/* Corpo da página */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0b6fa4; /* azul do fundo */
  text-align: center;
}

/* Título */
h1 {
  background-color: #ff4b3a; /* vermelho */
  color: black;
  padding: 20px;
  border-radius: 40px;
  width: 80%;
  margin: 30px auto;
  font-size: 22px;
}

/* Formulário */
form {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

/* Labels */
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  text-align: left;
}

/* Inputs */
input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* Botão */
button {
  margin-top: 20px;
  background-color: #ff4b3a;
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
}

/* Ajuste da imagem final (logo) */
img {
  display: block;
  width: 260px;           /* tamanho parecido com o exemplo */
  margin: 30px auto 0;    /* centraliza e cria espaço do formulário */
}


